<%- include('partials/header') -%>


    <section class="">
        <h2>Create a New Contact for <%= company.name %>
        </h2>
    </section>

    <section>
        <form action="/company/createNewContact/<%= company.id %>" method="POST">

            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Contacts First Name">

            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Contacts Last Name">

            <label for="contactTitle">Contact Title:</label>
            <input type="text" class="form-control" id="contactTitle" name="contactTitle" placeholder="Contact Title">

            <label for="contactWebsite">Contact Blog:</label>
            <input type="text" class="form-control" id="contactWebsite" name="contactWebsite" placeholder="Contacts Person Site/Blog">

            <!-- LinkedIn -->
            <label for="contactLinkedIn">Contact LinkedIn:</label>
            <input type="text" class="form-control" id="contactLinkedIn" name="contactLinkedIn" placeholder="Contact LinkedIn:">

            <!-- Twitter -->
            <label for="contactTwitter">Contact Twitter:</label>
            <input type="text" class="form-control" id="contactTwitter" name="contactTwitter" placeholder="Contact Twitter">
            

            <!-- <label for="sourceURL">Job URL</label>
            <input type="text" class="form-control" id="positionTitle" name="sourceURL" placeholder="Job Source URL"> -->

            <button type="submit" class="" value="Upload">Submit</button>
        </form>
    </section>

 
    <section>
        <a href="/company/<%= company.id %>">Back to <%= company.name %></a>
    </section>

    <%- include('partials/footer') -%>
