<%- include('partials/header') -%>

  <section class="companyProfile">
    <section class="companyInfo">
      <h1>
        <%= company.name %>
      </h1>
      <span class="dateAdded">Date Added: <%= company.createdAt %></span>
      <br>
      <span class="companyURL">company URL: <a href="<%= company.website %>">
          <%= company.website %>
        </a></span>

      <br>
      <br>
    </section>
    
  </section>

  <!-- Positions at Company -->
  <h2>Open Role/Positions:</h2>
  <section class="openPositions">

    <!-- create a new role/position -->
    <a href="/company/addNewPosition/<%= company.id %>"><i class="fa-solid fa-circle-plus"></i> Add a new position</a>

    <ul>
      <% for(var i=0; i<positions.length; i++) {%>
        <li><%= positions[i].positionTitle %></li>

        <form action="/company/deletePosition/<%= positions[i].id%>?_method=DELETE" method="POST">
          <button class="btn btn-outline-danger" type="submit">Delete</button>
        </form>
        
        <% } %>

    </ul>
  </section>


  <!-- Contacts at Company -->
  <section class="companyContacts">
    <h2>Contacts at this company:</h2>

    <a href="/company/addNewContact/<%= company._id %>"><i class="fa-solid fa-circle-plus"></i> Add a new contact</a>


    <ul>
      <% for(var i=0; i<contacts.length; i++) {%>
        <li><%= contacts[i].firstName %></li>
        <li><%= contacts[i].lastName %></li>

        <form action="/company/deletecontact/<%= contacts[i].id%>?_method=DELETE" method="POST">
          <button class="btn btn-outline-danger" type="submit">Delete</button>
        </form>
        
        <% } %>

    </ul>


  </section>






<!-- 
  <section class="companyContacts">
    <ul class="">
      <% for(var i=0; i<contacts.length; i++) {%>
        <li class="">
          <a href="/contact/<%= contacts[i]._id %>">
            <%= contacts[i].firstName %>
              <%= contacts[i].lastName %>
          </a>
        </li>
        <% } %>

    </ul>
  </section> -->


  <!-- REMINDER: remove the hr when styling -->
  <hr>

  <form action="/company/deleteCompany/<%= company._id %>?_method=DELETE" method="POST">
    <button class="" type="submit">Delete</button>
  </form>

  <section>
    <a href="/profile">Back to your profile</a>
  </section>




  <%- include('partials/footer') -%>