<%- include('partials/header') -%>

    <section class="contactInfo">
        <%= contacts.firstName %>
    </section>

    <form action="/contact/deleteContact/<%= contacts.id %>?_method=DELETE" method="POST">
        <button class="" type="submit">Delete <%= contacts.firstName %></button>
    </form>





    <section class="container">

        <section class="">
            <h2>Create a Meeting:</h2>
            <form action="/createMeeting/<% contact._id %>" method="POST" name="createCompanyForm">
                <section class="">
                    <input type="text" class="" id="companyName" name="meetingDate" placeholder="Date of Meeting">
                </section>
                <section class="">
                    <input type="text" class="" id="companyWebsite" name="meetingTime"
                        placeholder="Time of Meeting">
                </section>
                <section class="">
                    <input type="text" class="" id="industry" name="meetingType" placeholder="Type of Meeting">
                </section>

                <button type="submit" class="" value="Upload">Submit</button>
            </form>
        </section>
    </section>



    <section>
        <a href="/profile">Back to your profile</a>
    </section>
    <section>
        <a href="/company/<%= contacts.company %>">Back to Company display</a>
    </section>


    <%- include('partials/footer') -%>