<%- include('partials/header') -%>

  <section class="profile">
    <section class="">
      <section class="flex wrapContent">
        <section>
          <p>Welcome back <%= user.userName %>
          </p>
          <a href="/logout" class="">Logout</a>
        </section>


        <section class="mt-5 testBreak">
          <p>You currently have <%=companies.length%> companies on your Hit List:</p>
          <p>Your network has a total of <%=contacts.length%> people in it.</p>
          <p>Your Hit List has a total of <%=positions.length%> positions!</p>
        </section>


        <!-- company scroll window -->
        <section class="windowDisplay">
          <ul class="profileList">
            <% for(var i=0; i<companies.length; i++) {%>
              <li class="">
                <a href="/company/<%= companies[i]._id %>">
                  <%= companies[i].companyName %>
                </a>
                <ul>
                  <li>
                    <i class="fa-solid fa-user-group"></i>
                    <i class="fa-solid fa-crosshairs"></i>
                    <%= companies[i].website %>
                  </li>
                </ul>
              </li>
              <% } %>

          </ul>
        </section>
      </section>
    </section>


    <!-- bottom/ create New Company  -->
    <section class="">
      <section class="">
        <a href="/addNewCompany">
          <i class="fa-solid fa-crosshairs">
            <h3 class="medText">Create New Company</h3>
          </i>
        </a>



      </section>
    </section>



    <%- include('partials/footer') -%>