<%- include('partials/header') -%>

  <section class="container">
    <section class="row ">
      <section class="col-6">
        <section>
          <p>Welcome back <%= user.userName %>
          </p>
          <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        </section>

        
        <section class="mt-5 testBreak">

          <% if (companies.length==0) { %>
            <p>Create your first company!</p>
            <section class="mt-5">
              <h2>Create a new Company:</h2>
              <form action="/company/createCompany" method="POST">
                <section class="mb-3">
                  <input type="text" class="form-control" id="companyName" name="name" placeholder="Company Name">
                </section>
                <section class="mb-3">
                  <input type="text" class="form-control" id="companyWebsite" name="website"
                    placeholder="Company Website">
                </section>
                <section class="mb-3">
                  <input type="text" class="form-control" id="industry" name="industry" placeholder="Industry">
                </section>

                <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
              </form>
            </section>
            <% } else if (companies.length==1) { %>
              <p>You have 1 company listed:</p>
              <% } else { %>
                <p>You currently have <%=companies.length%> companies on your hitlist:</p>
                <% } %>
        </section>

        <section class="listedCompanies">
          <h3>
            test:
          </h3>
          <ul class="list-unstyled profileList">
            <% for(var i=0; i<companies.length; i++) {%>
              <li class="col-6 justify-content-between mt-5">
                <a href="<%= companies[i]._id %>"><%= companies[i].name %></a>
                <!-- <a href="#"><%= companies[i].name %></a> -->
                <!-- <a href="#"><%= companies[i].website %></a> -->
                <!-- <a href="#"><%= companies[i].industry %></a> -->
              </li>
              <% } %>

          </ul>
        </section>

      </section>
    </section>

    <!-- bottom/ create New Company  -->

    <section class="createNewContainer">
      <section class="createNewCircle">
        <a href="/newCompany">
          <h1 class="createNew">+</h1>
        </a>
      </section>
      <h3>Create New Company</h3>

    </section>
  </section>


  <%- include('partials/footer') -%>