<%- include('partials/header') -%>


  <!-- <section class="profile"> -->
  <!-- <section class="">
      <section class="">
        <section>
          <p>Welcome back <%= user.userName %>
          </p>
          <a href="/logout" class="">Logout</a>
        </section>
    
        <section class="">
          <p>You currently have <%=companies.length%> companies on your Hit List:</p>
          <p>Your network has a total of <%=contacts.length%> people in it.</p>
          <p>Your Hit List has a total of <%=positions.length%> positions!</p>
        </section>

        <section class="">
          <ul class="">
            <% for(var i=0; i<companies.length; i++) {%>
              <li class="">
                <a href="/company/<%= companies[i]._id %>">
                  <%= companies[i].companyName %>
                </a>
                <ul>
                  <li>
                    <i class="fa-solid fa-user-group"></i>
                    <i class="fa-solid fa-crosshairs"></i>
                    <%= companies[i].website %>
                  </li>
                </ul>
              </li>
              <% } %>

          </ul>
        </section>
      </section>
    </section> -->


  <section class="main">
    <section class="profile">
      <section class="profile__bio-image">
        <section class="profile__bio">
          <h2>Welcome back <span class="text-secondary">
              <%= user.userName %>
            </span></h2>
          <p>You are currently seeking <span class="text-secondary bold">
              <%=companies.length%>
            </span>companies.</p>
          <p>Your network has a total of <span class="text-secondary bold">
              <%=contacts.length%>
            </span> contacts and a total of <span class="text-secondary bold">
              <%=positions.length%>
            </span> positions!</p>

        </section>
      </section>

      <section class="jobs__header">
        <h2 class="text-secondary pText">Add a New Company:</h2>
        <a href="/addNewCompany">
          <i class="fa-solid fa-crosshairs"></i>
          <span>New company</span>
        </a>
        <p class="pText"></p>
      </section>

      <section class="profile__jobs">

        <section class="jobs">
          <% for(var i=0; i<companies.length; i++) {%>
            <a href="/company/<%= companies[i]._id %>">
              <section class="jobs__job">
                <h2 class="text-secondary">
                  <%= companies[i].companyName %>
                </h2>
            </a>
            <!-- ADD contacts and roles qty ticker for each company -->
        </section>
        <% } %>


          <!-- <section class="jobs__job">
            <h2 class="text-secondary">Right Now</h2>
            <h3>Company Name</h3>
            <h6>Position Title</h6>
            <p class="pText">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, hic quisquam doloribus asperiores fuga
              aliquid? Excepturi facilis eum quibusdam possimus.</p>
          </section>
          <section class="jobs__job">
            <h2 class="text-secondary">Right Now</h2>
            <h3>Company Name</h3>
            <h6>Position Title</h6>
            <p class="pText">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, hic quisquam doloribus asperiores fuga
              aliquid? Excepturi facilis eum quibusdam possimus.</p>
          </section> -->

      </section>
    </section>

  </section>
  </section>

  <!-- bottom/ create New Company  -->
  <!-- <section class="">
    <section class="">
      <a href="/addNewCompany">
        <i class="fa-solid fa-crosshairs">
        </i>
        <span>New company</span>
      </a>
    </section>
  </section> -->



  <%- include('partials/footer') -%>